/* Custom title fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.navMenu a.active {
  color: #ffab50;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
